body{
    background-color: #272946;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    color: #ccf3ea;
}

.title{
    font-family: "bebas Neue",serif;
    font-size: 2.5rem;
}

header, footer{
    background-color: #11111d;
    display:block;
    padding: 20px;
}


footer{
    margin-top: 100px;
}

/* HOVERS */

img.image:hover{
    transform:scale(1.1);
}

a:hover{
    color:rgb(255, 255, 255);
}


/* HOVERS */

img.image{
    cursor:pointer;
    transition: transform 0.2s ease;
    border-radius:7px;
}

.main div{
    justify-content: center;
    margin: 5px;
}

div{
    padding:2%;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding:4px;
    margin:auto;
}

a.current-page{
    color: #a88fff;
    font-weight: bold;
}

a{
    text-decoration: none;
    color:#a3dacd;
}


/* NOTA DE AVISO */
#nota{
    color:red;
    text-decoration: underline;
}
/* NOTA DE AVISO */


/* REDES SOCIAIS */

.social-media {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.0rem;
    text-decoration: none;
}


.icon-text .icon{
    margin-right: 3px;
}

p.social-media a{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.0rem;
}

p.social-media a:hover{
    transform:scale(1.1);
}


/* REDES SOCIAIS */

.pages{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

p.pages a{
    font-family: "bebas Neue",serif;
    margin: 0 10px;
    font-size:16pt;
    padding-left:7px;
    padding-right: 7px;
}

p.pages a:hover{
    transform:scale(1.1);
}


@media only screen and (max-device-width: 820px), (max-width: 820px) {
    .main {
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        font-size: larger;
    }
    .main div {
      flex: 31%;
      padding: 4px;
    }
    img {
      width: 200px;
    }
    img.image {
      filter: none;
    }
  }

@media only screen and (max-device-width: 620px), (max-width: 620px) {
    .main div {
        flex: 48%;
        padding: 4px;
    }
} 
